# Set default behaviour, in case users don't have core.autocrlf set.
*.py     text diff=python
*.py3    text diff=python

*.js linguist-language=Python
*.css linguist-language=Python
*.html linguist-language=Python


