# Set default behaviour, in case users don't have core.autocrlf set.
*.py     text diff=python
*.py3    text diff=python
.js linguist-vendored=false
.html linguist-vendored=false
.css linguist-vendored=false


